openapi: 3.1.0
info:
  title: CityConnect API
  version: 1.0.0
  description: Citizen platform and municipal operations API.
servers:
  - url: https://api.cityconnect.in
paths:
  /api/health:
    get:
      summary: Liveness probe
      responses:
        '200':
          description: OK
  /api/v1/auth/login:
    post:
      summary: Demo OTP login (disable in production with ALLOW_DEMO_OTP=false)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, otp]
              properties:
                phone: { type: string }
                otp: { type: string }
                preferredLanguage: { type: string, enum: [en, hi] }
      responses:
        '200':
          description: Session token and user profile
  /api/v1/auth/logout:
    post:
      summary: Revoke current session
      responses:
        '200':
          description: Logged out
  /api/v1/civic/tickets:
    get:
      summary: List civic tickets (paginated)
      parameters:
        - in: query
          name: limit
          schema: { type: integer, maximum: 100 }
        - in: query
          name: cursor
          schema: { type: string }
    post:
      summary: Create civic ticket
  /api/v1/admin/tickets:
    get:
      summary: Admin ticket queue (paginated)
      parameters:
        - in: query
          name: limit
          schema: { type: integer, maximum: 100 }
        - in: query
          name: cursor
          schema: { type: string }
